---
// 你可以在这里定义任何 Astro 前言变量或导入
import {
  SITE_BASE_URL,
  DOCS_PAGE_PATH,
  GEO_REGION,
  GEO_PLACENAME_EN,
  GEO_POSITION,
  GEO_ICBM,
  SCRIPT_PATHS,
  STYLE_PATHS,
  SITE_NAME_EN,
  VIEWPORT_NO_ZOOM,
  HOME_PAGE_PATH,
  NAV_TEXT,
  PAGE_TITLES,
  DOCS_DESCRIPTION,
  LOADING_TEXT
} from '../config.js';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content={VIEWPORT_NO_ZOOM} />
    <title>{PAGE_TITLES.DOCS}</title>
    <meta name="description" content={DOCS_DESCRIPTION} />
    <link rel="canonical" href={`${SITE_BASE_URL}${DOCS_PAGE_PATH}/`} />
    <meta name="language" content="en, zh-CN" />
    <meta name="geo.region" content={GEO_REGION} />
    <meta name="geo.placename" content={GEO_PLACENAME_EN} />
    <meta name="geo.position" content={GEO_POSITION} />
    <meta name="ICBM" content={GEO_ICBM} />
    <meta property="og:title" content={PAGE_TITLES.DOCS} />
    <meta property="og:description" content={DOCS_DESCRIPTION} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${SITE_BASE_URL}${DOCS_PAGE_PATH}/`} />
    <meta property="og:site_name" content={SITE_NAME_EN} />
    <link rel="stylesheet" href={STYLE_PATHS.BOOTSTRAP} />
    <link rel="stylesheet" href={STYLE_PATHS.GITHUB} />
    <link rel="stylesheet" href={STYLE_PATHS.DOCS} />
  </head>
  <body>
    <button id="back" onclick={`window.location.href='${HOME_PAGE_PATH}'`}
      >{NAV_TEXT.BACK_HOME}</button
    >
    <div id="content">{LOADING_TEXT}</div>

    <script defer src={SCRIPT_PATHS.JQUERY}></script>
    <script defer src={SCRIPT_PATHS.MARKED}></script>
    <script defer src={SCRIPT_PATHS.DOCS}></script>
  </body>
</html>
